/* Pour titre */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
/* Pour texte */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #343A40;
    font-family: "Lobster", sans-serif;
    font-size: 1.8rem;
}

h1,
h2 {
    font-family: "Lobster", sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    color: #343A40;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #F1F1F1;
}

#nProduit {
    height: 2rem;
    text-align: center;
    background: #85c1e985;
    color: #343A40;
}

button {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: linear-gradient(90deg, #85C1E9 0%, #007BFF 100%);
    color: #343A40;
}

.movie {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#video {
    border: solid 1px gray;
    width: 300px;
    height: 150px;
}

#sourceSelectPanel {
    text-align: center;
}

.resultat {
    text-align: center;
}