/* Pour titre */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
/* Pour texte */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,h2 {
font-family: "Lobster", sans-serif;
font-weight: normal;
}

h2 span,p {
font-family: "Nunito", sans-serif;
}

body {
    width: 60%;
    margin: 0 auto;
    background: #FFF2DF;
}

.textSearch {
    display: flex;
    justify-content: center;
}

#nProduit {
    height: 2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    margin: 1.5rem auto;
    border-right: none;
}

button {

    height: 2rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 0.5rem;
    padding-right: 2rem;
    margin: 1.5rem auto;
}

.card {
    display: flex;
    align-items: center;
    height: 35rem;
    background: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 7px 7px 5px gray;
}

.leftimg {
    margin: 1rem;
}

.righttxt {
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.righttxt h2 {
    text-transform: capitalize;
}

.gramme {
    text-transform: none;
}

h2 {
    font-size: 1rem;
}

span {
    font-weight: normal;
}

.sousCard {
    background: rgb(241, 241, 241);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sousCard1 {
    background: rgb(241, 241, 241);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corresp {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    gap: 1rem;
}

.cardbottom {
    box-shadow: 7px 7px 5px gray;
    border-radius: 10px;
    background: rgba(206, 204, 204, 0.544);
    padding: 1rem;
}

.cardbottom h2 {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.sousCard h2 {
    text-transform: capitalize;
}

.vert{
    background: #00803e8a;
}
.vertclair {
    background: #88bd258d;
}
.jaune {
    background: #ffcc008f;
}
.orange {
    background: #ffa6007c;
}
.rouge {
    background: #e6321293;
}
.gris {
    background: #f1f1f195;
}

.txtvert{
    color: green;
}
.txtvertclair {
    color: greenyellow;
}
.txtjaune {
    color: yellow;
}
.txtorange {
    color: orange;
}
.txtrouge {
    color: red;
}
.txtgris {
    color: gray;
}

.txtc {
    text-align: center;
}

.sousCard1 p {
    text-align: center;
}
@media (max-width:640px){
    body {
        width: 100%;
    }

    .corresp{
        flex-direction: column;
    }
    .card {
        flex-direction: column;
        height: max-content;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        border-top-left-radius: 10px;
    }

    button {
        padding: 0;
    }

    .cardbottom h2 {
        text-align: center;
    }
}